# 09 May Assignment #

### Q1. create one variable containing the following type of data ###
1. String
2. list
3. float
4. tuple

### code for Q1 ###

In [1]:
str_var = "PWSkills"
lst_var = ["Data","Science",2023]
flt_var = 20.23
tpl_var = (1,2,3,4)

In [2]:
print(type(str_var))
print(type(lst_var))
print(type(flt_var))
print(type(tpl_var))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

### Q2. Given are some following variables containing data:
1. var1 = ‘ ‘
2. var2 = ‘[ DS , ML , Python]’
3. var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
4. var4 = 1.

What will be the data type of the above given variable.

### Code for Q2

In [4]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [5]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

### Q3. Explain the use of the following operators using an example:
1. /
2. %
3. //
4. **

### Ans with code for Q3

In [10]:
# '/' operator is called the division operator. 
# when using this operator, it gives the quotient of the division between two numbers as the output.
# the output will be a floating point data type by default.
# Ex code for demonstration

a = 18/6 # the quotient of 18/6 is 3.0 hence the value of a should be 3.0
# let's check the value of a
print(a)

3.0

In [8]:
# '%' is called the modulo operator. 
# it gives the remainder of the division between two numbers.
# let us take the same example code as above but with the % operator

b = 18%6 # since 18 is exactly divisible by 6, the value of b should be 0 (remainder)
# let us check the value of b
print(b)

0

In [12]:
# '//' is the integer division operator.
# this works just like the division operator discussed above with quotient as output.
# but the output in this case will be an 'int' datatype by default.
# let us take the same example as above. here the output of the division should be 3 instead of 3.0
c = 18//6
# let's check the value of c
print(c)

3

In [14]:
# '**' is called the power operator.
# it is used to raise the power of a number by some other number.
# syntax is a**b - where a is raised to the power of b
# the code will throw a syntax error if b is not mentioned in the syntax

# demonstration code
d = 2**3 # 2 raised to the power of 3 should be 8, let's check
print(d)

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

### Code for Q4

In [16]:
lst = ["PWskills", "Data", "Science", 2.0, "May", 9, 2023, True, 2024, "job target"]
for elem in lst:
    print(elem)
    print(type(elem))

PWskills
<class 'str'>
Data
<class 'str'>
Science
<class 'str'>
2.0
<class 'float'>
May
<class 'str'>
9
<class 'int'>
2023
<class 'int'>
True
<class 'bool'>
2024
<class 'int'>
job target
<class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

### Code for Q5

In [1]:
# Input values A and B
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

# Initialize a count variable to keep track of the number of divisions
count = 0

# Check if B is not zero (to avoid division by zero) and if A is greater than or equal to B
while B != 0 and A >= B:
    A = A - B  # Subtract B from A
    count += 1  # Increment the count

# Check if A becomes zero, which indicates purely divisible
if A == 0:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}. Remainder: {A}")

Enter number A:  12
Enter number B:  6

0 is purely divisible by 6 and can be divided 2 times.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

### Code for Q6

In [4]:
lst = [8, 16, 3, 60, 79, 21, 92, 61, 75, 14, 32, 84, 13, 80, 10, 54, 45, 99, 59, 73, 98, 43, 90, 29, 57]
for num in lst:
    if num%3==0:
        print(num)
    else:
        pass

3
60
21
75
84
54
45
99
90
57

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

### Ans with code for Q7

Mutable sequences are those sequences where the independent terms within the sequence can be changed by accessing their index number

Ex: list is a mutable sequence

In [1]:
lst = [8, 16, 3, 60, 79, 21, 92, 61, 75, 14, 32, 84, 13, 80, 10, 54, 45, 99, 59, 73, 98, 43, 90, 29, 57]
# since list is a mutable sequence, we can change any value in the list using its index. 
#let us change the first element to 1
lst[0]=1 # this should not throw an error since list is mutable
print(lst)

[1, 16, 3, 60, 79, 21, 92, 61, 75, 14, 32, 84, 13, 80, 10, 54, 45, 99, 59, 73, 98, 43, 90, 29, 57]

immutable sequences are those sequences that cannot be altered once declared. it cannot be altered even with the index of that particular variable.

ex: strings are immutable sequences

In [3]:
string = "the quick brown fox jumped over a lazy dog"
# i will try to change the word 'quick' in the above string to 'slow' using indexing
string[1] = "slow" #this should throw an error as strings are immutable

TypeError: 'str' object does not support item assignment